{% extends 'base.html' %}
{% load static %}

{% block title %}
    Página de Detalhes da Notícia
{% endblock %}


{% block script %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}

    <h1 class="news-title">{{ news.title }}</h1>

    <p class="news-content">{{ news.content }}</p>

    {% if news.image %}
        <img src="{% static news.image.url %}" alt="Imagem relacionada à notícia" height="100" />
    {% endif %}

    {% for category in categories %}
        <span class="news-categories"> {{ category }} </span>
    {% endfor %}

    <span class="news-author">{{ news.author }}</span>

    <span class="news-date">{{ news.created_at|date:"d/m/Y" }}</span>
{% endblock %}